#
#   .gitignore      - File patterns for Git to ignore 
#
#     Luis Esteban    19 April 2019
#       created
#

# -- Working Files --
*.gem
/.yardoc

# -- Draft Files --
/OLD/

# -- System Files --
.DS_Store
